body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #FFD700; /* Cor de fundo amarela */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.login-container {
    background-color: #fff; /* Fundo branco */
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    margin: 0;
}

form {
    margin-top: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Tamanho da fonte aumentado para um design mais moderno */
}

button {
    background-color: #FFD700; /* Cor de fundo amarela */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
